form {
    text-align: center;
}

h2{
    text-align: center;
}
.contenedor{
    border-style: none;
    border-color: inherit;
    border-width: 5px;
    width: 30% !important;
    margin-top: 0%;
    margin-left: 470px;
    }
